*{
    margin: 0;
}
div{
    background-color: tomato;
    padding: 10px;
    /* height: 65px; */
    margin-bottom: 5px;
}
h3{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    padding: 5px;
}
p{
    color: aliceblue;
}